@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   /* background: #6e1239;*/
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 1050px;
}

section {
    background: #fff;
    border-radius: 7px;
}
.tools-board {
    width: 210px;
    padding: 15px 22px 0;
}

.tools-board .row{
    margin-bottom: 20px;
}

.undo-redo-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
}

.row-box {
    color: #5A6168;
    cursor: pointer;
}

.arrow-left, .arrow-right {
    color: #5A6168;
}

.row .options {
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

/* changing the color on hover or has active class */
.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label) {
    color:#5A6168 ;
    cursor: pointer;
    padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label){
    color: #4a98f7;
}

.option #fill-color {
    height: 14px;
    width: 14px;
}

#fill-color:checked  ~ label {
    color: #4a98f7;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options{
   display: flex; 
   justify-content: space-between;
}

.colors .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1){
    background-color: #fff;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: #000;
}
.colors .option:nth-child(3){
    background-color: #E02020;
}
.colors .option:nth-child(4){
    background-color: #6DD400;
}
.colors .option:nth-child(5){
    background-color: #4a98f7;
}

.colors .option.selected::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before{
    border-color: #ccc;
}

.option #color-picker{
    opacity: 0;
    cursor: pointer;
}

.buttons {
    margin-bottom: 5px !important;
}

.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .clear-canvas{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
}

.clear-canvas:hover{
    color: #fff;
    background: #4a98f7;
}

.buttons .save-img{
    background-color: #6e1239;
    border: 1px solid #6e1239;
}

.drawing-board {
    flex: 1;
}

.hamburger {
    width: fit-content;
    padding: 10px;
}

.drawing-board canvas{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}



.background-img {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: rotate(deg);
  background-image: 
    conic-gradient(from 160deg at 70px 168.5px, #FDC12D 0deg 90deg, transparent 90deg),
    conic-gradient(from 21deg at 168px 71px, #FDC12D 0deg 90deg, transparent 90deg),
    conic-gradient(from 21deg at 141px 141px, #FEEBAE 0deg 114deg, transparent 114deg),
    conic-gradient(from -21deg at 96.5px 44px, #1483CA 0deg 131.5deg, transparent 131.5deg), 
    conic-gradient(from -70deg at 43.5px 97px, #FDC12D 0deg 115.5deg, transparent 115.5deg), 
    conic-gradient(from 134.5deg at 141px 141px, #1483CA 0deg 114.5deg, transparent 114deg),
    conic-gradient(from 160deg at 43.5px 97px, #FEEBAE 0deg 130.5deg, transparent 120deg 360deg);
  background-color: skyblue;
  background-size: 195px 195px;
  background-position: -30px -30px;
  background-repeat: repeat, repeat;
}

